@font-face {
    font-family: "Vivaldi";
    src: url("./fonts/VIVALDII.TTF");
    font-weight: normal;
}

@font-face {
    font-family: "IsadoraStd";
    src: url("./fonts/IsadoraStd-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Arsis";
    src: url("./fonts/ARS.TTF");
    font-weight: normal;
}

//nunito

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSans";
    src: url("./fonts/nunito/NunitoSans-ExtraBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}


.text-center{
    text-align: center;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.w-100{
    width: 100%;
    display: block;
}

.overlay-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    // background-color: #D0302A;
    background-color: #F4F6F8;
    width: 100%;
    height: 30vh;

    z-index: -5;
}

.position-relative{
    position: relative;

    .item-hour{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.normalLineHeight {
    line-height: normal !important;
    white-space: initial !important;
}

/*
strong, .fw-bold{
    font-weight: 600;
}
*/

header{
    //border-bottom: 1px solid rgba(145, 158, 171, 0.24);
    background-color: transparent !important;
}

/*
.css-8gn7gv-MuiButtonBase-root-MuiListItemButton-root:before{
    background-color: transparent !important;
}
*/

.badgedata{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F6F8;
    border-radius: 20px;
    padding: .4em;
}

.overlay-page-dashboard{
    position: absolute;
    top: 0;
    left: 0;
    // background-color: #D0302A;
    background-color: #F4F6F8;
    width: 100%;
    height: 40vh;

    z-index: -5;
}


.list-unstyled{
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-none{
    display: none;
}

.content-imput-file{
    cursor: pointer;

    .file-selector{
        width: 250px;
        height: 250px;

        border-radius: 50%;
        display: flex;
        margin: auto;
        overflow: hidden;

        align-items: center;
        justify-content: center;

        cursor: pointer;
        background-color: #F4F6F8;

        transition: all .3s ease;
        border: 1px solid transparent;

        i{
            font-size: 4em;
        }

        &:hover{
            border: 10px solid #fff;
        }
    }
}

.content-upload-label{
    input{
        display: none;
    }
}

.content-img-uploaded{
    min-height: 150px;
    background-color: #F4F6F8;
    border: 2px solid #F4F6F8;
    border-radius: .4em;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .img-preview-data{
        position: absolute;
        display: block;
        top:    0;
        left:   0;
        width:  100%;
        height: 100%;

        background-size: cover;
        background-position: center center;
    }
}

.img-fluid{
    display: block;
    width: 100%;
}

.button-label-to-uploader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    input{
        user-select: none;
        display: none;
    }
}

.input-file-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.pdf-download-link{
    padding-left: 0px;
    padding-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;

    a{
        text-decoration: none;
        color: #fff;

        display: flex;
        width: 100%;
        justify-content: center;
        
        padding: 6px 16px;
        border-radius: 8px;
    }

    &:disabled{
        a{
            color: rgba(145, 158, 171, 0.8);
        }
    }
}
